<section class="why-choose-one">
    <div class="container">
        <div class="row">
            
            <div class="col-xl-6 col-lg-6">
                <div class="video-one__box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"
                    style="background-image: url(assets/assets/images/video.jpg)">
                    <div class="video-one__box-title">
                        <h2>Savvylatinos</h2>
                    </div>
                     
                    <div class="icon wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <a class="video-popup" title="latinos Video Gallery"
                            href="assets/assets/images/savvylatinos.mp4">
                            <span class="icon-play"></span>
                        </a>
                        <span class="border-animation border-1"></span>
                        <span class="border-animation border-2"></span>
                        <span class="border-animation border-3"></span>
                    </div>
                </div>
            </div>
            <!--End Why Choose One Right-->
            <!--Start Why Choose One Left-->
            <div class="col-xl-6 col-lg-6" style="padding-top:50px;">
                <div class="why-choose-one__left">
                    <div class="section-title">
                        <span class="section-title__tagline">Creación de empresas LLC y CORP</span>
                        <h2 class="section-title__title">Creamos su empresa en <br>USA</h2>
                    </div>
                    <p class="why-choose-one__left-text">Tramites y domumentación para la conformación de empresas </p>
                    <div class="why-choose-one__left-learning-box">
                        <div class="icon">
                            <span class="icon-professor"></span>
                        </div>
                        <div class="text">
                            <h4>Que gestionamos?</h4>
                        </div>
                    </div>
                    <div class="why-choose-one__left-list">
                        <ul class="list-unstyled">
                            <li class="why-choose-one__left-list-single">
                                <div class="icon">
                                    <span class="icon-confirmation"></span>
                                </div>
                                <div class="text">
                                    <p>LLC o CORP para empresas</p>
                                </div>
                            </li>

                            <li class="why-choose-one__left-list-single">
                                <div class="icon">
                                    <span class="icon-confirmation"></span>
                                </div>
                                <div class="text">
                                    <p>ITIN para personas natural</p>
                                </div>
                            </li>

                            
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Why Choose One Left-->

        </div>
    </div>
</section>

<section class="registration-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="registration-two__wrapper">
                    <div class="shape1 zoom-fade"><img src="assets/assets/images/shapes/thm-shape2.png" alt="" /></div>
                    <div class="shape2 wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms"><img
                            src="assets/assets/images/shapes/thm-shape3.png" alt="" /></div>
                    <div class="registration-two__left">
                        <h2 class="registration-two__left-text">Necesita tramitar sus documentos<br> y operar ahora!</h2>
                    </div>
                    <div class="registration-two__right">
                        <div class="registration-two__right-btn">
                            <a class="thm-btn">Crear empresa</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>